.header {
    background-color: #023047;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
}

.header .left-section {
    display: flex;
    align-items: center;
}

.header .right-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .login-button {
    background-color: #fb8500;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Estilos para el componente Logo */

.logo img {
    object-fit: contain;
    height: 8%;
    width: 8%;
    cursor: pointer;
}
/* 100% responsive */

/* Estilos para el componente NavItem */

.header .nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #fb8500;
}

.nav-item .nav-text {
    color: #fff; /* Puedes ajustar el color del texto según tus necesidades */
}
