.container-changed-password {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form-cp {
    width: 30%;
}

.container-requeriment {
    color: rgba(0, 0, 0, 0.4);
}

/* Media query para pantallas de 425px o menos */
@media (max-width: 426px) {
    .container {
        /* Estilos para pantallas de 425px o menos */
        width: 100%;
        height: 100%;
    }

    .container-form-cp {
        /* Estilos para pantallas de 425px o menos */
        width: 200px;
        height: 90%;
        /* Ajusta el ancho según tus necesidades */
    }

    .container-requeriment {
        /* Estilos para pantallas de 425px o menos */
        color: rgba(0, 0, 0, 0.4);
    }

    .tittle {
        text-align: center;
        margin: 0 auto;
    }
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .container {
        /* Estilos para pantallas de 768px o menos */
        width: 100%;
        height: 100%;
    }

    .container-form-cp {
        /* Estilos para pantallas de 768px o menos */
        width: 30%;
    }

    .container-requeriment {
        /* Estilos para pantallas de 768px o menos */
        color: rgba(0, 0, 0, 0.4);
    }

    .tittle {
        text-align: center;
        margin: 0 auto;
    }
}
