.container-forgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63vh;
}

.container_text {
    width: 30%;
    text-align: center;
}

.container_form {
    width: 20%;
}

/* Media query para pantallas de 425px o menos */
@media (max-width: 425px) {
    .container_text {
        width: 90%;
        /* Ajusta el ancho según tus necesidades */
    }

    .container_form {
        width: 40%;
        /* Ajusta el ancho según tus necesidades */
    }
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .container_text {
        width: 40%;
        /* Ajusta el ancho según tus necesidades */
    }

    .container_form {
        width: 40%;
        /* Ajusta el ancho según tus necesidades */
    }
}
